{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow",
    "@babel/preset-stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": "./src",
      "alias": {
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-source",
        "flow-react-proptypes",
        "transform-dev-warning"
      ]
    },
    "production": {
      "compact": true,
      "plugins": ["@babel/plugin-transform-react-constant-elements"]
    }
  }
}
