{
  "presets": ["react", "es2015-min", "stage-0"],
  "plugins": [
    "transform-es2015-for-of",
    "transform-regenerator",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    }
  }
}
