{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "React": false,
    "When": false,
    "Promise": false,
    "axios": false,
    "EventEmitter": false,
    "_": false,
    "autoBind": false,
    "classNames": false
  },
  "rules": {
    "quotes": [2, "single"],
    "no-shadow": false,
    "no-underscore-dangle": false,
    "no-console": false,
    "new-cap": false,
    "strict": false,
    "consistent-return": false,
    "no-loop-func": false,
    "no-use-before-define": false,
    "no-empty": false,
    "camelcase": false,
    "eqeqeq": false,
    "no-new": false,
    "no-debugger": false,
    "no-trailing-spaces": false,
    "no-fallthrough": false,
    "space-before-function-paren": [2, "never"],
    "space-before-blocks": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-in-parens": [2, "never"],
    "wrap-iife": [2, "always"],
    "generator-star-spacing": [2, "after"]
  },
  "plugins": [
    "react"
  ]
}
