/*.db
.dep/
*.o
*.eep
*.elf
*.hex
*.lss
*.map
*.sym
obj/
si2c-bitwrite/si2c-bitwrite
si2c-bytewrite/si2c-bytewrite
si2c-charwrite/si2c-charwrite
public/css/dorfmap.min.css
public/js/dorfmap.min.js
public/angular-busy.html
public/index.html
public/templates/*.html
node_modules/
src/css/*.css
src/css/libs/bower/*
src/js/libs/bower/*
bower_components
index.pl.bak
.vendor
npm-debug.log
public/js/dorfmap.min.js.gz
public/js/dorfmap.min.js.map.gz
public/**/Templates/*
public/js/vendor.js
public/app.js
public/app-*.js
.DS_Store
