html {
	font-family: Sans-Serif;
}

body {
	margin: 0;
	background-color: #333333;
}

a {
	color: #000066;
	text-decoration: none;
}

div.content {
	padding: 0;
	margin: 0;
}


ul.mlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.mlist li {
	margin: 0;
	color: #ffffff;
	font-size: 14px;
	background-color: #333333;
	border-width: 1px 0;
	border-color: #666666 #666666 #333333 #333333;
	border-style: solid;
}
ul.mlist li a {
	padding: 10px;
	font-size: 16px;
	color: #ffffff;
	display: block;
	height: 32px;
	background-position:5px 10px;
	background-repeat: no-repeat;
}
ul.mlist li.preset a {
	float: left;
	width: 10%;
}
ul.mlist div.preset-end {
	clear: both;
}
ul.mlist li a span {
	margin-left: 40px;
	display: inline-block;
	vertical-align: middle;
}
ul.mlist li a img {
	vertical-align: middle;
}

ul.mlist li.header {
	padding: 15px 10px 10px;
	font-size: 16px;
	font-weight: bold;
	font-size: 120%;
}

ul.mlist li input {
	border: 1px solid black;
	height: 32px;
	width: 48%;
}

ul.mlist li select {
}
