md-radio-group(ng-model="animations.selected" ng-hide="animations.editing")
  div(ng-repeat="animation in animations track by animation.name" layout="horizontal" layout-align="space-between")
    md-radio-button(noink,ng-value="animation.raw_string") {{animation.name}}
    md-button.blinkenlightEditButton(ng-click="animation.Edit()" ng-hide="animation.name==='Off'") {{animation.name==='Off' ? "New" : "Edit"}}
div(ng-show="animations.editing")
    md-input-container
      label rawString
      input(ng-model="animations.newRawString" style="width:100%")
