<md-radio-group ng-model="animations.selected" ng-hide="animations.editing">
  <div ng-repeat="animation in animations track by animation.name" layout="horizontal" layout-align="space-between">
    <md-radio-button noink="noink" ng-value="animation.raw_string">{{animation.name}}</md-radio-button>
    <md-button class="margin" ng-click="animation.Edit()" ng-hide="animation.name==='Off'" class="blinkenlightEditButton">{{animation.name==='Off' ? "New" : "Edit"}}</md-button>
  </div>
</md-radio-group>
<div ng-show="animations.editing">
  <md-input-container>
    <label>rawString</label>
    <input ng-model="animations.newRawString" style="width:100%"/>
  </md-input-container>
</div>