<md-dialog cg-busy="loadingPromise">
  <md-radio-group ng-model="radioGroup">
    <md-radio-button noink ng-repeat="mode in modes" ng-value="mode.name" ng-bind="mode.description"></md-radio-button>
    <md-radio-button noink value="custom">Custom</md-radio-button>
  </md-radio-group>
    <md-input-container flex>
      <label></label>
      <input ng-model="lamp.charwrite_text">
    </md-input-container>
  <div>
    <md-button aria-label="" style="float: left; padding: 5px;" ng-click="close()">Close</md-button>
    <md-button aria-label="" style="float: right; padding: 5px;" ng-click="save()">Save</md-button>
  </div>
</md-dialog>