material-dialog(cg-busy="loadingPromise")
  material-radio-group(ng-model="radioGroup")
    material-radio-button(noink, ng-repeat="mode in modes", ng-value="mode.name") {{mode.description}}
    material-radio-button(noink, value="custom") Custom
    input(type="text", placeholder="{{lamp.charwrite_text}}", ng-focus="radioGroup='custom'", ng-model="lamp.newText", maxlength="10", style="width:6em; margin:0 0 0 15px;")
  div
    material-button(style="float:left;padding:5px;",ng-click="close()") Cancel
    material-button(style="float:right;padding:5px;",ng-click="save()") Save
