<material-dialog>
<div cg-busy="loadingPromise">
<material-tabs selected="selectedIndex" noink>
	<material-tab label="Animation"></material-tab>
	<!--<material-tab label="new Animation"></material-tab>-->
</material-tabs>
<div class="animate-switch-container" ng-switch on="selectedIndex">
    <div class="animate-switch" ng-switch-when="0">
        <material-radio-group ng-model="$parent.radioGroup">
			<material-radio-button noink ng-repeat="animation in animations" ng-value="animation.raw_string">{{animation.name}}</material-radio-button>
    </div>
    <div class="animate-switch" ng-switch-when="1" layout="vertical" style="margin-left:15px" >
    	TODO
    </div>
</div>
<div>
	<material-button style="float:left; margin:5px;" ng-click="close()">Cancel</material-button>
	<material-button style="float:right; margin:5px;" ng-click="save()">Save</material-button>
</div>
</material-dialog>