<material-dialog>
<div cg-busy="loadingPromise">
<material-radio-group ng-model="radioGroup">
<material-radio-button noink value="date">Date</material-radio-button>
<material-radio-button noink value="clock">Clock</material-radio-button>
<material-radio-button noink value="hosts">Online Hosts</material-radio-button>
<material-radio-button noink value="power">Power Consumption</material-radio-button>
<material-radio-button noink value="custom">Custom</material-radio-button>
<input type="text" placeholder="{{lamp.text}}" ng-model="lamp.newText" ng-maxlength="10" maxlength="10" style="width:6em; margin:0 0 15px 50px;"></input>
</material-radio-group>
<div>
	<material-button style="float:left; margin:5px;" ng-click="close()">Cancel</material-button>
	<material-button style="float:right; margin:5px;" ng-click="save()">Save</material-button>
</div>
</div>
</material-dialog>