material-dialog
  div(cg-busy="loadingPromise" style="min-width:300px")
    material-tabs
      material-tab(label="Animations")
        material-radio-group(ng-model="animations.selected")
          material-radio-button(noink,ng-repeat="animation in animations track by animation.name",ng-value="animation.raw_string") {{animation.name}}
  div
    material-button(style="float:left;margin:5px;",ng-click="close()") Cancel
    material-button(style="float:right;margin:5px;",ng-click="save()") Save
