material-dialog
  material-content
    material-toolbar(ng-class="toolbarClass" ng-show="toolbarTemplate")
      .material-toolbar-tools(ng-bind-html="toolbarTemplate")
    maerial-content(ng-bind-html="template")
  material-content.dialogsActions(layout="{{layout}}")
    material-button(ng-repeat="button in buttons" flex ng-click="button.callback()" ng-class="button.class") {{button.label}}
