<md-dialog>
  <md-toolbar ng-class="toolbarClass" ng-show="toolbarTemplate">
    <div class="md-toolbar-tools" ng-include="toolbarTemplateUrl"></div>
  </md-toolbar>                    
  <md-content ng-include="templateUrl"></md-content>
  <div class="dialogActions" layout="{{::layout}}" layout-align="{{::layoutAlign}}">
    <md-button ng-repeat="button in buttons track by $index" aria-label="" ng-click="button.callback()" ng-class="button.class" ng-include="::button.templateUrl">
    </md-button>
  </div>
</md-dialog>