
	html {
		font-family: Sans-Serif;
	}

	a {
		color: #000066;
		text-decoration: none;
	}

	div.about {
		position: fixed;
		top: 0.5em;
		right: 1em;
		font-family: Monospace;
		color: #666666;
		z-index: 10;
	}

	div.about a {
		font-family: Sans-Serif;
		font-variant: small-caps;
	}

	div.content {
		padding: 0;
		margin: 0;
	}

	.errors {
		position: absolute;
		left: 3em;
		top: 3em;
		right: 3em;
		bottom: 3em;
		background-color: white;
		border: 2px solid black;
		opacity: .90;
		color: red;
		z-index: 100;
	}

	span.error {
		color: red;
	}

	.dropdowncontainer {
		padding-left:0.5em;
		padding-top:0.5em;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdownheader {
		padding-left: 0.5em;
		padding-right:0.5em;
	}

	.dropdown > .dropdownmenu {
		visibility: hidden;
		position: absolute;
		z-index: 1;
		background-color: white;
		border: 1px solid black;
	}

	.dropdown:hover .dropdownmenu,
	.dropdown .dropdownmenu:hover {
		visibility: visible;
	}

	.dropdownmenu a {
		display: block;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		border-bottom: 1px solid gray;
	}
	.dropdownmenu a:hover {
		cursor:pointer;
	}

	.dropdownmenu .special {
		border-bottom: 3px double gray;
	}

	a.backlink {
		display: block;
		font-size: 150%;
		font-family: Monospace;
		text-decoration: none;
		font-variant: small-caps;
		color: black;
		margin-bottom: 1em;
	}

	#rgbcolor {
		font-size: 120%;
		height: 6em;
		width: 20em;
		text-align: center;
	}

	.overview {
		background-image: url(/static/map.png);
		width: 2202px;
		height: 648px;
		position: absolute;
		left: 5px;
	}

	.popup {
		visibility: hidden;
		position: absolute;
		top: 0px;
		left: 30px;
		z-index: 1;
		border: 1px solid gray;
		background-color: white;
		opacity: .90;
		min-width: 300px;
	}
	
	*:hover > .popup {
		visibility: visible;
	}

/*
	.overview > *:hover {
		background-color: gray;
		opacity: .20;
	}
*/

	.overview .popup a {
		color: #000099;
		text-decoration: none;
	}

	.overview .open {
		background-color: green;
		opacity: .50;
	}

	.overview .closed {
		background-color: black;
		opacity: .50;
	}

	.overview .unknown {
		background-color: red;
	}

	.overview span.shutdownyes {
		font-size: 120%;
		font-weight: bold;
		color: white;
		background-color: blue;
	}

	.overview span.shutdownno {
		font-size: 120%;
		font-weight: bold;
		color: white;
		background-color: gray;
	}

	.overview span.onlineguests,
	.overview span.wattage {
		font-size: 120%;
		font-weight: bold;
	}

	.overview .rtext {
		font-size: 110%;
		font-weight: bold;
	}

	.overview span.infohead {
		display: block;
		margin-top: 1.5em;
	}

	.overview span.onlinegueststext:after,
	.overview span.wattagetext:after {
		content: ": ";
	}

	.lamp {
		position:absolute;
		width:32px;
		height:32px;
	}

	.lampimage{
		cursor: pointer;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	.lampimage:hover {
		 -webkit-transform: scale(1.1);
		 transform: scale(1.1);
	}


	.animate-switch-container {
	    position:relative;
	    background:white;
	    border:0px solid black;
	    height:300px;
	    opacity: 1.0;
	    overflow:hidden;
	}

	.animate-switch {
	    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
	    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
	    position:absolute;
	}

	.animate-switch.ng-leave.ng-leave-active,
	.animate-switch.ng-enter {
	    top:-300px;
	}
	.animate-switch.ng-leave,
	.animate-switch.ng-enter.ng-enter-active {
	    top:0;
	}

	.animate-switch.ng-leave
	{
	    z-index: 100;
	}
