.dialogActions {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transform: translateY(-24px);
      -ms-transform: translateY(-24px);
          transform: translateY(-24px);
}
.dialogActions > .md-button {
  border-radius: 0;
}
.dialogsButtonFlex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.md-button {
  height: 100%;
}
.margin {
  margin: 15px!important;
  padding: 0!important;
}
