<!DOCTYPE html>
<html ng-app="Map">
  <head>
    <title>dorfmap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dorfmap.min.css" type="text/css">
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/templates.js"></script>
    <script src="/static/js/primus.js"></script>
    <script src="/static/js/dorfmap.min.js"></script>
  </head>
  <body>
    <div class="about">
      <span>
        <a href="https://github.com/chaosdorf/dorfmap">dorfmap</a> | -
      </span>
      <span><a href="https://wiki.chaosdorf.de/Lichtsteuerung">about</a> | -</span>
      <span><a href="https://wiki.chaosdorf.de/Lichtsteuerung#API">API</a> | - </span>
      <span><a href="/space_api.json">spaceAPI</a></span>
    </div>
    <div class="content" ng-controller="MapController as map">
      <div class="dropdownwrapper">
        <md-content class="dropdowncontainer" layout="horizontal" layout-align="center" cg-busy="map.loadingPromise">
          <div class="dropdownheader">
            <md-button class="md-raised md-primary" ng-click="map.menu.dialog('shortcuts')">Actions</md-button>
            </div>
          <div class="dropdownheader">
            <md-button class="md-raised md-primary" ng-click="map.menu.dialog('presets')">Presets</md-button>
          </div>
          <div class="dropdownheader">
            <md-button class="md-raised md-primary" ng-click="map.menu.dialog('layers')">Layer</md-button>
          </div>
        </md-content>
      </div>
      <md-content class="overview" ng-controller="OverviewController as overview">
        <div ng-repeat="lamp in overview.filteredLamps()">
          <lamp></lamp>
        </div>
      </md-content>
    </div>
  </body>
</html>